/* src/css/AdminPanel.css */
.admin-panel {
    padding: 20px;
    background-color: rgba(179, 198, 224, 0.562);
    user-select: none; 
    height: 100vh;
    width: 90vw;
  }
  
  .admin-panel h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .requests-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
  }
  
  .requests-table th, .requests-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .requests-table th {
    background-color: #0e77ee;
    color: white;
  }
  
  .requests-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .approve-btn, .deny-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .approve-btn:hover, .deny-btn:hover{
    transform: scale(1.1);
  }
  .approve-btn {
    background-color: #0e77ee;
    color: white;
  }
  
  .deny-btn {
    background-color: #f44336;
    color: white;
  }
  