/* MeetingList.css */

.main-div{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
  background-color: rgba(179, 198, 224, 0.562);
}
.meeting-list-container {
      user-select: none;
      width:auto;
  }
  
  
  .meeting-list-container .meet-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    user-select: none;
    color: black;
  }
  
  .meeting-list-container .meet-btn {
    width: 100%;
    padding: 10px;
    background-color: #0e77ee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    user-select: none; 
  }
  
  .meeting-list-container .meet-btn:hover {
    background-color: #033799;
  }
  